# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Virtual environments
.env
.venv
env/
venv/

# PyInstaller
*.manifest

# Logs & runtime artifacts
*.log
boot_log.txt

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
